body {
  background-color: rgb(250, 255, 230);
}

button{
  background-color: rgb(196, 255, 235);
  color: rgb(17, 0, 255);
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  height: 200px;
  width: 80%;
}

.card {
  border: 2px solid black;
  padding: 20px;
  margin: 10px;
  width: 300px;
}

.itemsContainer {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

.dFlex{
  display: flex;
}

.column{
  flex-direction: column;
}
